<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      Calculo do IMC
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <form id="card-form" (ngSubmit)="calcularIMC()" *ngIf="imc == null">
    <ion-item>
      <ion-label>Altura(EX:1.70)</ion-label>
      <ion-input type="text" [(ngModel)]="calculos.altura" name="altura"></ion-input>
    </ion-item>
    <ion-item>
      <ion-label>Peso</ion-label>
      <ion-textarea type='text' [(ngModel)]="calculos.peso" name="peso"></ion-textarea>
    </ion-item>
    <ion-button id="botao" ion-button type="submit" block>Calcular</ion-button>
    <img src="../assets/icon/tabela.jpg"/> 
  </form>
</ion-content>
