<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      Medição de IMC
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-card>
    <img src="../assets/icon/imc.jpg"/>
    <ion-card-header>
      <ion-card-subtitle>Bem-vindo ao</ion-card-subtitle>
      <ion-card-title>Aplicativo para medição de IMC</ion-card-title>
    </ion-card-header>
  
    <ion-card-content>
      O índice de massa corporal (IMC) é uma medida internacional usada para calcular se uma pessoa está no peso ideal.
    </ion-card-content>
  </ion-card>
</ion-content>
